# Análise Exploratória e Preditiva + Deploy Web:

# Titanic - Quem sobreviveria?

***

Análise realizada por ***Vinícius Nunes Rebeque*** em Setembro/2022

Visite meu LinkedIn: https://www.linkedin.com/in/vrebeque/

Explore meu GitHub: https://www.github.com/Rebeque

Fonte dos dados: https://www.kaggle.com/competitions/titanic/data
* * *

**1. INTRODUÇÃO:**

Esse dataset compreende os **dados históricos** do terrível acidente do "inafundável" RMS Titanic que ironicamente **afundou em 1912**. Infelizmente não haviam botes salva vidas suficientes para todos dentro do navio, o que resultou na **morte de 1502 dos 2224** totais entre passageiros e tripulação.

Enquanto houveram **elementos de sorte** que determinaram quem sobreviveu ou não ao acidente, **aparentemente** alguns grupos de pessoas tiveram **maiores chances de sobreviver**. Será que existe **alguma relação ou forma de predizer** quem sobreviveria e quais seriam os fatores determinantes para esse feito?

***Vamos analisar!***
***

**2. OBJETIVOS:**
* Praticar conceitos de manipulação de dados;
* Explorar os dados históricos do acidente;
* Verificar se existe relação entre a sobrevivência ou não dos passageiros com base no que sabemos;
* Criar um algoritmo de predição capaz de determinar a sobrevivência ou não de um indivíduo com base em atributos;
* Desenvolver uma página web para o usuário final entrar com seus dados e descobrir se ele sobreviveria ou não (verifique meu GitHub).

**Um breve comentário:** a idéia desse trabalho é **sedimentar os conhecimentos** que venho estudando em várias frentes e ainda por cima **testar minhas habilidades** em um ramo de conhecimento **que não é o meu principal** - HTML e CSS.

Acredito que **todo conhecimento é útil** e quanto mais eu conseguir **"linkar" conhecimentos** diferentes mais soluções de mercado eu posso apresentar para meus clientes. Acredito que **trabalhar com tecnologia** não permite uma zona de conforto onde eu me especialize **apenas em um ponto**. A **contextualização dos conteúdos** é de vital importância para um bom profissional.

***

**3. EXTRAÇÃO DOS DADOS:**

In [1]:
# Importação e alias das bibliotecas Python necessárias

import pandas as pd
import matplotlib.pyplot as plt
import pandas, numpy as np
import seaborn as sns
sns.set(rc={'figure.figsize':(14,6)})
import zipfile

A Kaggle disponibilizou esse dataset já em divisão de treino e teste porque ele foi criado justamente para fins acadêmicos de aprendizado de máquina.

In [26]:
# Carrega o Dataset utilizando o pacote Pandas no alias 'df'
df_treino = pd.read_csv('data/train.csv')
df_teste = pd.read_csv('data/test.csv')

**4. EXPLORAÇÃO:**

Verificando os dados sobre o dataset

In [31]:
print(df_treino.shape)
print('\n')
print(df_teste.shape)
print('\n')
print(df_treino.columns)
print('\n')
print(df_teste.columns)

(891, 12)


(418, 11)


Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')


Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Temos 891 registros para treino e 418 para teste.

In [32]:
# Primeiras linhas
df_treino.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [33]:
# Últimas linhas
df_treino.tail(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q